/* ====== Reset & Base ======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
}
 
html {
  scroll-behavior: smooth;
}
 
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fbefff;
  background-repeat: no-repeat;
  background-position: center center;
  color: #1b1b1b;
  line-height: 1.6;
  padding: 2rem;
}
 
/* ========== Header Banner ========== */
header {
  width: 1000px;
  text-align: center;
  background-color: #aa84ad;
  opacity: 60%;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin: 0 auto;
  transition: 0.5s;
  
  }
 
header h1 {
  font-size: 2rem;
}
 
.tagline {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* ===== side-section, image wrapper =====*/
.container {
    display: flex; 
    align-items: flex-start; 
    margin: auto;
    gap: 20px;
    padding: 10px;
    flex-direction: row-reverse;
}

.image-wrapper {
    flex-shrink: 0;
}

.image-wrapper img {
    max-width: 200px;
    height: auto;
    border-radius: 7px; 
}

.image-wrapper-gif img {
  max-width: 450px;
  height: auto;
  border-radius: 7px;
}

.side-section {
  flex-grow: 1; 
  background-color: hsl(279, 100%, 94%);
  padding: 15px;
  border-right: 5px solid #949494; 
  border-left: none;
  border-radius: 20px;
}

/*====== About Section ======*/
.about-text p {
    margin-bottom: 1rem;
}

.about-contacts {
  flex-grow: 1; 
  background-color: hsl(279, 100%, 94%);
  padding: 15px;
  border-top: 5px solid #949494; 
  border-radius: 20px;
}

/*====== Main Layout ======*/
main {
  max-width: 900px;
  margin: auto;
}
 
.banner-container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

/*====== Headings ======*/
h2, h3 {
    color: #2821217a;
    margin: center;
}

/*====== Navigation ======*/
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1rem 0 2rem 0;
  gap: 1.5rem;
  flex-wrap: wrap;
}
 
nav a {
  text-decoration: none;
  color: #5c00cc;
  font-weight: bold;
  transition: color 0.3s ease;
}
 
nav a:hover {
  color: #990082;
  text-decoration: underline;
}

.navigation {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #dcc9ff;
  max-width: none;
  margin: auto;
  color: white;
  padding: 3px;
  margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: #5c00cc;
    font-weight: normal;
    transition: color 0.3s ease;
}

a:hover {
    color: #990082;
    text-decoration: underline;
}

ul, li {
    padding: 2px;
    padding-left: 2px;
    padding-right: 4px;
}

/*======== Button =========*/
button {
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  margin: 10 auto;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 195, 248);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ec8eff;
}

/*footer*/
footer {
  text-align: center;
}

/*table*/
table {
  border-color: #c1afff;
  box-shadow: rgb(0, 0, 0);
}

/*======== Quote =========*/
#quote-box {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

#quote-text {
  font-style: italic;
  margin-bottom: 0.5rem;
}

#quote-author {
  font-weight: bold;
  color: #444;
}

.quote-box{
  flex-grow: 1; 
  background-color: hsl(279, 100%, 94%);
  padding: 15px;
  border-top: 5px solid #949494; 
  border-radius: 20px;
}
